<odoo>
    <data>
        <!-- Top menu item -->
        <menuitem name="Task App" id="task_app.menu_root"/>
        <!-- menu categories -->

        <menuitem name="Task" id="task_app.menu_tasks" parent="task_app.menu_root"/>
        <!-- actions -->

        <menuitem name="List Task" id="task_app.menu_task_list" parent="task_app.menu_tasks"
                action="task_app.action_window_task_list"/>
    </data>
</odoo>